@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleStyle {
    color: #CDB73A;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-style: normal;
}

.textDefaultStyle {
    color: #000000;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #F0F0F0;
    transition: 0.3s;
}

nav {
    background-color: #dededed4;
    height: 10vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
}

#CamusIcon {
    width: 50%;
    height: 10vh;
    background-image: url(../img/Icon/Full_Icon.png);
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
    background-position-x: 2vw;
}

#menuButtonsDiv {
    width: 50%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#menuButtons {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
}

.menuBnoB {
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
}

#login {
    background-color: #5E4B8A;
    color: #F0F0F0;
    font-weight: bold;
    height: 6vh;
    width: 6vw;
    font-size: 3vh;
    border: none;
    border-radius: 06vw;
    cursor: pointer;
}

#sub {
    background-color: #5D00FD;
    color: #F0F0F0;
    font-weight: bold;
    margin-right: 2vw;
    font-size: 3vh;
    height: 6vh;
    width: 11vw;
    border: none;
    border-radius: 06vw;
    cursor: pointer;
}

.menuBnoB:hover {
    color: #5D00FD;
    cursor: pointer;
    transition: 0.12s ease-out;
}

#entrace {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
}

#articleText {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

#img {
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img img {
    height: 80vh;
}

#articleText h1 {
    font-size: 10vh;
    margin-right: 12vw;
}

#articleText button {
    font-size: 3.5vh;
    height: 8vh;
    width: 13vw;
    border-radius: 3vw;
    border: none;
    background-color: #5E4B8A;
    color: #ffff;
    text-decoration: none;
}

#articleText button:hover {
    cursor: pointer;
}

#more {
    background-color: #5E4B8A;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

#more h1 {
    font-size: 10vh;
    width: 70vw;
    color: #cecece;
}

#more p {
    font-size: 5vh;
    width: 75vw;
    color: #ffff;
}

#about {
    background-color: #F0F0F0;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 6vh;
}

#about h1 {
    font-size: 10vh;
    width: 10vw;
    color: #CDB73A;
}

#about p {
    font-size: 5vh;
    width: 75vw;
    color: #000000;
}

footer {
    background-color: #e3e3e3a4;
    height:10vh;
    width: 100%;
}

footer img  {
    height: 7vh;
}