/*Keyframe open*/
@keyframes bar1AnO {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(50deg);
    }
}

@keyframes bar2AnO {
    from {
        width: 6vw;
    }
    to {
        width: 0;
    }
}

@keyframes bar3AnO {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-50deg);
    }
}

/*Keyframe close*/
@keyframes bar1AnC {
    from {
        transform: rotate(50deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes bar2AnC {
    from {
        width: 0vw;
    }
    to {
        width: 6vw;
    }
}

@keyframes bar3AnC {
    from {
        transform: rotate(-50deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/*Classe Open*/
.bar1AnO {
    animation: bar1AnO 0.3s linear;
}

.bar2AnO {
    animation: bar2AnO 0.3s linear;
}

.bar3AnO {
    animation: bar3AnO 0.3s linear;
}

/*Classe Close*/
.bar1AnC {
    animation: bar1AnC 0.3s linear;
}

.bar2AnC {
    animation: bar2AnC 0.3s linear;
}

.bar3AnC {
    animation: bar3AnC 0.3s linear;
}

