@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Irish+Grover&display=swap');


/*Animações*/
:root {
    --Bar2Width: 6vw;
}
/*Keyframe open*/
@keyframes bar1AnO {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(50deg);
    }
}

@keyframes bar2AnO {
    from {
        width: var(--Bar2Width);
    }
    to {
        width: 0;
    }
}

@keyframes bar3AnO {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-50deg);
    }
}

/*Keyframe close*/
@keyframes bar1AnC {
    from {
        transform: rotate(50deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes bar2AnC {
    from {
        width: 0vw;
    }
    to {
        width: var(--Bar2Width);
    }
}

@keyframes bar3AnC {
    from {
        transform: rotate(-50deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/*Classe Open*/
.bar1AnO {
    animation: bar1AnO 0.3s linear;
}

.bar2AnO {
    animation: bar2AnO 0.3s linear;
}

.bar3AnO {
    animation: bar3AnO 0.3s linear;
}

/*Classe Close*/
.bar1AnC {
    animation: bar1AnC 0.3s linear;
}

.bar2AnC {
    animation: bar2AnC 0.3s linear;
}

.bar3AnC {
    animation: bar3AnC 0.3s linear;
}

/*Código*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    transition: 0.3s;
}

body {
    background-color: #F0F0F0;
}

#Nome {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #CDB73A;
    font-size: 8vh;
}

#logo {
    height: 8vh;
    margin-left: 1vw;
}

#navNew {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
}

#leftSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 50%;
    gap: 1vw;
}

#rightSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 50%;
}

#buttons {
    width: 100%;
    display: flex;
    gap: 1vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.buttonNav {
    color: #6F6F6F;
    text-decoration: none;
    font-size: 4vh;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
}

#buttonEntrar {
    color: #FFFFFF;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #5E4B8A;
    border: 0;
    border-radius: 17px;
    height: 5.5vh;
    width: 10vw;
    font-size: 4vh;
    margin-right: 1vw;
    cursor: pointer;
}

nav {
    height: 10vh;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 90vh;
}

#img {
    height: 70vh;
}

article div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#title {
    font-size: 10vh;
    margin: 2vh;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
}

#text {
    font-size: 4vh;
    width: 40vw;
    margin: 1.5vw 2.5vw 2.5vw 2.5vw;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    color: #6F6F6F;
}

#cadButton {
    color: #FFFFFF;
    font-family: "Inria Serif", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #5E4B8A;
    border: 0;
    border-radius: 17px;
    height: 4.5vh;
    width: 14vw;
    font-size: 3.5vh;
    margin-left: 20vw;
    cursor: pointer;
}


/*Hover*/
.buttonNav:hover {
    color: #5D00FD;
    text-decoration: underline;
}

#buttonEntrar:hover, #cadButton:hover {
    background-color: #5D00FD;
}

/*Laptop - 1024px*/
@media screen and (max-width: 1024px) {
    #img {
        height: 50vh;
    }

    #cadButton {
        width: 25vw;
    }

    #rightSide a {
        margin-left: 2vw;
    }
}


/*Tablet - 768px*/
@media screen and (max-width: 768px) {
    article {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
        gap: 6vh;
        margin-top: 9vh;
    }

    #img {
        margin-top: 2vh;
        height: 40vh;
    }

    #cadButton {
        width: 45vw;
        margin-top: 3vh;
    }

    #text {
        width: 80vw;
    }

    #logo {
        position: absolute;
        top: -200vh;
    }

    /*Mobile menu click*/
    #mobileBars {
        position: fixed;
        top: 0.5vh;
        right: 2vw;
        background-color: #D9D9D9;
        width: 9vw;
        height: 9vh;
        border-radius: 50%;
        visibility: visible;
    }

    .mobileBarsDiv {
        background-color: #000000;
        width: 6vw;
        height: 1vh;
        margin: 0.8vw;
        position: relative;
        border-radius: 3vw;
        left: 0.7vw;
        top: 1vh;
    }
    /*Mobile menu*/
    #navNew {
        height: 100vh;
    }
    
    #leftSide {
        background-color: #D9D9D9;
        justify-content: center;
        width: 100%;

        /*To menu*/
        position: absolute;
        top: 0vh;
        z-index: 1;
    }

    #rightSide {
        background-color: #D9D9D9;
        position: absolute;
        width: 100vw;
        height: 90%;
        bottom: 100vh;

        /*To menu*/
        display: flex;
        justify-content: center;
        align-items: center;
        
        z-index: 0;
    }

    #buttons  {
        display: flex;
        flex-direction: column;
        height: 40vh;
        width: 30vw;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 4.5vh;
    }

    #buttonEntrar {
        width: 28vw;
        height: 10vh;
        font-size: 7vh;
    }

    .buttonNav {
        font-size: 7vh;
    }
}

/*Mobile large - 425px*/
@media screen and (max-width: 425px) {
    .mobileBarsDiv {
        width: 10vw;
        left: -3vw;
    }

    #title {
        font-size: 7vh;
    }

    #text {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    article div  {
        display: flex;
        align-items: center;
    }

    #cadButton {
        margin: 2vh 0 2vh 0 ;
    }

    #buttonEntrar {
        width: 50vw;
    }

}

/*Mobile M - 375px*/
@media screen and (max-width: 375px) {
    #cadButton {
        width: 80vw;
    }
}

/*Mobile S - 320px*/
@media screen and (max-width: 320px) {
    #title {
        font-size: 6vh;
    }

    #text {
        font-size: 3vh;
        text-align: justify;
    }
}